{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Padel Liga Berlin{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="kB8h7TvkQ_t5Aq2BKwobnOM6FsvXgc54jseKWr4gNAU">
    <meta name="google-site-verification" content="_cAQNqcIz5d0d9QTN-2Zjxk4RZyMiqwchaDvwZLxn4Q" />
    {% render_block "css" %}
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="img/x-icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
    <script src="//use.typekit.net/cgr7spe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body style="padding-top:60px">
    {% cms_toolbar %}
        <div class="container">
          <div class="row">
            <div class="logo-left col-md-3">
                <img src="{% static "img/logo_adidas.png" %}" alt="logo_adidas">
            </div>
            <div class="title col-md-6">
              <h1 class="text-center"><span>PADEL LIGA</span> <span class="highlighted">BERLIN</span></h1>
            </div>
            <div class="logo col-md-3">
                {% block "logo" %}
                <a href="{% page_url "home" %}">
                    <img src={% static "img/Logo_Padel_Liga_Berlin_225.png" alt="logo Padel Liga Berlin" %}>
                </a>
                {% endblock "logo" %}
            </div>
          </div>
          <div class="row navi">
            <div class="menu navbar" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">Padel Liga Berlin</a>
              </div>
              <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                  {% show_menu 0 1 100 100 "menu.html" %}
                </ul>
              </div>
            </div>
          </div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static "img/logo_padel_club_berlin_international.png" %}" alt="Logo Padel Club Berlin International">
                <img src="{% static "img/logo_brako_padel.png" %}" alt="Logo Brako Padel">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="link col-md-4 text-center">
                  <a>Für Inserenten</a>
                </div>
                <div class="link col-md-4 text-center">
                  <a>Impressum</a>
                </div>
                <div class="link col-md-4 text-center">
                  <a>Datenschutz</a>
                </div>
              </div>
              <div class="row text-center">
                  <p>{% static_placeholder 'para_1_footer' %}</p>
                  <p>{% static_placeholder 'para_2_footer' %}</p>
                  <p>{% static_placeholder 'para_3_footer' %}</p>
              </div>
            </div>
        </div>
      </div>
    </footer>
    {% render_block "js" %}
  </body>
</html>
