{% extends "base.html" %}

{% block content %}
    <div class="main text-center row">
        <h1>Welcome</h1>
        <p class="sub1">to the</p>
        <p class="sub2">padel liga Berlin</p>
        <p class="sub3"><span>{{ n_categories | default:3 }}</span> League Categories with <span>{{ n_teams | default:10 }}</span> Teams</p>
        <p class="sub4">for the <span>city</span></p>
    </div>
{% endblock %}
