{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div class="row content">
    <div class="left-box col-md-6">
        {% block "left_box" %}
        {% placeholder "left box" %}
        {% endblock "left_box" %}
    </div>
    <div class="right-box col-md-6">
        {% block "right_box" %}
        {% placeholder "right box" %}
        {% endblock "right_box" %}
    </div>
</div>
{% endblock content %}
