.carousel-control {
    width: 0px;

    .glyphicon {
        .transform(scale(1.5, 5));
    }

    &.right {
        right: -45px;
    }
    &.left {
        left: -45px;
    }
}

.carousel-indicators {
    bottom: -35px;
    li {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .active {
        background-color: rgba(0, 0, 0, 1);
    }
}

