.main {
    font-size: 4em;
    background: @background;
    min-height: 340px;
    padding-bottom: 30px;
    color: #000;

    h1 {
        font-size: 2em;
        margin: 0;
    }

    P {
        margin: 0;
    }

    .sub1 {
        padding: 0;
        color: #989898;
        font-size: 0.5em;
        line-height: 0.5;
    }
    .sub2 {
        color: @blueliga;
        text-transform: uppercase;
        background: #A66A7E;
        display: inline-block;
        padding: 0 30px;
        line-height: 0.9;
    }
    .sub3 {
        color: #000;
        span {
            color: #FFF;
            font-size: 1.5em;
        }
    }
    .sub4 {
        color: #989898;
        span {
            text-transform: uppercase;
            color: @blueliga;
            font-size: 2em;
        }
    }
    &.text p {
        font-size: 0.5em;
        margin: 10px;
    }
}

