.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}

.navbar li a {
    &:hover, &:active, &:focus {
        background-color: transparent;
    }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: none;
}

.dropdown-menu {
    background: none;
    min-width: 0;
    padding: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    cursor: default;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}
