@import "mixins.less";
.navbar {
    z-index: 10;
    min-height: 0;
    padding-right: 0;

    .navbar-collapse {
        padding-right: 0;
    }

    .nav > li {
        margin-left: 5px;
        .transform(skew(30deg));
        background: @background;
        a {
            font-size: 1.2em;
            color: #FFF;
            text-transform: uppercase;
            .transform(skew(-30deg));
        }
        .dropdown-menu {
            li {
                background: @background;
                padding: 5px 0;
                margin-top: 3px;
                a {
                    padding: 0 50px;
                    display: inline-block;
                }
                &.active, &:active, &:hover, &:focus {
                    background: fadein(@background, 30%);
                }
            }
        }
        &:last-child li {
            border: none;
        }
        &:last-child {
            a {
                .transform(skew(0deg));
                margin-top: -30px;
            }
            .transform(skew(0deg));

            border-top: 30px solid @background;
            border-left: 18px solid transparent;
            background-color: transparent;
            margin-left: -5px;
            &.active, &:active, &:hover, &:focus {
                background-color: transparent;
                border-top-color: fadein(@background, 30%);
            }
        }

        &.active, &:active, &:hover, &:focus {
            background-color: fadein(@background, 30%);
        }
    }
}

.navbar-nav>li>a {
    text-shadow: none;
    padding: 5px 50px;
}

.navbar-down > ul.nav > li {
    margin-top: -1px;
    .transform(none) !important;
    border-top: 30px solid @background;
    border-left: 18px solid transparent;
    background-color: transparent;
    margin-left: 0px;
    &.active, &:active, &:hover, &:focus {
        background-color: transparent;
        border-top-color: fadein(@background, 30%);
    }
    &:last-child a, a {
        margin-top: -37px;
        .transform(none) !important;
    }
    &:last-child {
        margin-left: 0px
    }
}
