
.standings-container {
    background: @background;
    padding: 10px;
    min-height: 400px;

    h2 {
        margin-left: 25px;
    }

    table {
        margin: 0px;

        td:first-child {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .table-teams {
        background-position: top right 25px;
        background-repeat: no-repeat;
        background-size: 73px;
    }
    .table-stats {
        margin-top: 25px;
    }
    .carousel-indicators {
        bottom: -45px;
    }
}
