@import "elements.less";
@import "mixins.less";

@background: rgba(82, 0, 38, 0.4);
@dark_background: darken(fadein(@background, 20%), 30%);
@blueliga: #1D006D;
@main-font: myriad-pro-condensed, Arial, sans-serif;

@import "navbar_override.less";
@import "navbar.less";
@import "table_override.less";
@import "carousel.less";
@import "index.less";
@import "teams.less";
@import "team.less";
@import "standings.less";

body {
    padding-top: 5px !important;
    background: url('../img/Background.jpg') repeat top fixed;
    background-size: cover;
    font-family: @main-font;

    &, a {
        color: #1D006D;
    }

    .page-content {
        background: #FFF;
        .drop-shadow(2px, 3px, 3px, 0.5);
    }
}

.body, .content>.row {
    background: #EDEDED;
}

.title {
    margin-top: 10px;
}

h1 {
    color: #000;
    font-size: 4.7em;
    font-weight: bold;
    font-family: @main-font;

}

.highlighted {
    color: #1D006D;
    text-shadow: #FFF 0px 0px 20px;
}

.logo {
    img {
        width: 175px;
        float: right;
    }
}
.logo-left {
    img {
        top: 15px;
        width: 156px;
        float: left;
    }
}

.footer {
    width: 100%;
    background-color: #1E1E1E;
    height: 400px;
    margin-top: 45px;
    padding: 20px;
    box-shadow: 0 -10px 40px #000;
    color: #333;

    a {
        font-size: 1.5em;
        text-transform: uppercase;
        color: #A8A8A8;
    }
    img {
        margin-top: 50px;
        width: 284px;
    }
}

.category-img {
    width: 120px;

    &.selected {
        opacity: 0.6;
    }
}

th.flag {
    padding: 0 8px !important;
}
