table {
    thead th {
        background: rgba(0, 0, 0, 0.7);
    }
    tbody td {
        background: rgba(0, 0, 0, 0.5);
    }
    &, a {
        color: #FFF !important;
    }
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}
.table>thead>tr>th {
    border-bottom: none;
}

.table {
    border-collapse: inherit;
    border-spacing: 0 2px;

    th, td {
        text-align: center;
    }
}

