
.teams-container {
    background-color: @background;
    color: #FFF;
    padding: 0px 20px;
    min-height: 300px;

    .team-list p {
        background-color: @dark_background;
        margin-left: -15px;
        margin-right: -15px;
        font-family: "depot-new-condensed-web" "Arial";
        padding: 5px 0;
        color: #FFF;
    }

    .team-image {
        height: 150px;
    }

}
