.team-content, .box-container {
    background: @background;
    padding: 20px 20px 0px;
}

table.team-stats {
    td:first-child, tr.dark>td {
        background-color: rgba(0, 0, 0, 0.7);
        padding-right: 5px;
        color: #FFF;
    }
    td:first-child {
        text-align: center;
    }
    tr>td, tr>th {
        text-align: left;
        vertical-align: middle;
    }
}

.player-image {
    max-width: 100%;
}

.player-right, .player-left > div:nth-child(2),{
    table {
        tr>td:nth-child(1), tr>th:nth-child(1) {
            text-align: left;
        }

        tr>td:nth-child(2), tr>th:nth-child(2) {
            text-align: right;
        }
    }
}

table.head-to-head {
    thead {
        empty-cells: hide;
        tr>th {
            background-color: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            height: 56px;
            vertical-align: middle;
        }
    }
    tr>td {
        vertical-align: middle;
    }
    tr>td:nth-child(2) {
        text-align: left;
    }
    .green {
        background: rgba(0, 200, 0, 0.7);
    }
    .red {
        background: rgba(200, 0, 0, 0.7);
    }
    .dark {
        background: rgba(0, 0, 0, 0.7);
    }
}
