{% extends "two_blocks.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block "left_box" %}
<div class="col-md-12">
    <div class="row">
        <img class="col-md-8 col-md-offset-2 img-responsive" src="{% static "pcbi_logo.png"%}">
    </div>
    <div class="row">
        <div class="club-info col-md-6">
            <p>Padel Club Berlin Internacional e.V.<br>
            Sterndamm 241, 12847<br>
            E-Mail: info@padelclubberlin.de<br>
            Phone: +49 (0) 175 - 44 11 621</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{% static "pcbi_courts.png"%}">
        </div>
    </div>
</div>
{% endblock %}

{% block "right_box" %}
<div class="col-md-12">
    <div class="row">
        <img class="col-md-6 col-md-offset-3 img-responsive" src="{% static "Padel Berlin.png"%}">
    </div>
    <div class="row">
        <div class="club-info col-md-6">
            <p>PadelBerlin<br>
            Wiesenweg 1-4 10365 Berlin<br>
            E-Mail: info@padelberlin.de<br>
            Phone: +49 (0) 30 - 20 25 67 90</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{% static "pb_courts.png"%}">
        </div>
    </div>
</div>
{% endblock %}
