{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags cache %}

{% block content %}
<div class="standings-container row">
    <div id="carousel-categories-standings" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for category in categories %}
        <li data-target="#carousel-categories-standings" data-slide-to="{{ forloop.counter0 }}"
            {% if category == current_category %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for category in categories %}
        <div class="item 
            {% if category == current_category %}active{% endif %}">
            {% cache 30 * 60 standings category %}
            {% include "standings.inc" %}
            {% endcache %}
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-categories-standings" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-categories-standings" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endblock content %}
