{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}

{% block content %}
<div class="team-content row">
    <div id="carousel-teams-team1" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for team in current_category.teams.all %}
        <li data-target="#carousel-teams-team1" data-slide-to="{{ forloop.counter0 }}"
            {% if team == current_team %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
      {% for team in current_category.teams.all %}
        <div class="item 
            {% if team == current_team %}active{% endif %}">
            <div class="col-md-5 player-left">
                {% with team.player1 as player %}
                {% include "player_left.inc" %}
                {% endwith %}
            </div>
            <div class="col-md-5 col-md-offset-2 player-right">
                {% with team.player2 as player %}
                {% include "player_right.inc" %}
                {% endwith %}
            </div>
        </div>
      {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-teams-team1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-teams-team1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<div class="navbar navbar-down row">
    <ul class="nav navbar-right nav-tabs">
    {% for category in categories %}
    <li role="presentation" class="{% if category == current_category %}active{% endif %}"><a href="{% url view.request.resolver_match.url_name category.category.id category.teams.all.0.id %}">{{ category.category.code }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="box-container col-md-5">
        <div id="carousel-teams-team2" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
            {% for team in current_category.teams.all %}
                <div class="item {% if team == current_team %}active{% endif %}">
                {% include "team_game_stats.inc" %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="box-container col-md-5 col-md-offset-2">
        <div id="carousel-teams-team3" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
            {% for team in current_category.teams.all %}
                <div class="item {% if team == current_team %}active{% endif %}">
                {% include "team_head_to_head.inc" %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('#carousel-teams-team1').on('slide.bs.carousel', function (e) {
    if (e.direction === 'left') {
        $('#carousel-teams-team2').carousel('next');
        $('#carousel-teams-team3').carousel('next');
    } else {
        $('#carousel-teams-team2').carousel('prev');
        $('#carousel-teams-team3').carousel('prev');
    }
})
</script>

{% endblock content %}
