{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div class="teams-container row">
    <div id="carousel-categories-teams1" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for category in categories %}
        <li data-target="#carousel-categories-teams1" data-slide-to="{{ forloop.counter0 }}"
            {% if category == current_category %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
      {% for category in categories %}
        <div class="item 
            {% if category == current_category %}active{% endif %}">
          <h3 class="text-center">{{ category.category }}</h3>
          <div class="team-list">
              {% for team in category.teams.all %}
              <div class="col-md-3">
                  <a href="{% url "team_detail" category.category.id team.id %}">
                      <img class="team-image img-responsive center-block" src="{{ team.photo.url }}" alt="{{ team }}">
                      <p class="text-center">{{ team }}</p>
                  </a>
              </div>
              {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-categories-teams1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-categories-teams1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>
<div class="navbar navbar-down row">
    <ul class="nav navbar-right nav-tabs">
    {% for category in categories %}
    <li role="presentation" class="{% if category == current_category %}active{% endif %}"><a href="{% url view.request.resolver_match.url_name category.category.id %}">{{ category.category.code }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}
